.filter {
  display: flex;
  flex-direction: column;
  @media (min-width: 770px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
  }
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  @media (min-width: 770px) {
    flex-direction: row;
  }
}

.filter_button {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #E1E2E3;
  background: #1c001e;
  border: none;
  border-radius: 12px;
  padding: 11px 16px;
  cursor: pointer;
  transition: .2s;
  width: 100%;
  @media (min-width: 770px) {
    width: 150px;
  }
}

.filter_button:hover {
  background: #0168cf;
}

.filter__search {
  font-family: 'Montserrat', sans-serif;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 0.875rem;
  font-weight: 500;
  color: #E1E2E3;
  padding: 0 12px 0 24px;
  background: #27272A;
  width: 100%;
  height: 40px;
  @media (min-width: 770px) {
    width: 20vw;
    height: 40px;
  }
}

.filter__search::placeholder {
  font-size: 0.875rem;
  color: #A1A1AA;
}
