body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 !important;
  background-color: #00000066;
}
.background {
  background-image: url('../img/background-fundo.webp');
  background-size: cover;
  background-repeat: repeat;
  animation-name: zoomBanner;
  animation-duration: 300s;
  animation-iteration-count: infinite;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@keyframes zoomBanner {
  50% {
      -ms-transform: scale(1.5);
      /* IE 9 */
      -webkit-transform: scale(1.5);
      /* Safari 3-8 */
      transform: scale(1.5);
  }
  100% {
      -ms-transform: scale(1);
      /* IE 9 */
      -webkit-transform: scale(1);
      /* Safari 3-8 */
      transform: scale(1);
  }
}